@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
	box-sizing: inherit;
	height: 100vh;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 2em;
	color: white;
	filter: drop-shadow(0px 50px 10px #000);
	visibility: hidden;
	position: absolute;
	bottom: 3rem;
	left: 1rem;
}

.container {
	display: flex;
	height: 90vh;
	width: 90%;
	gap: 1em;
}

.panel {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 15px;
	width: 8vh;
	flex-grow: 1;
	transition: flex 0.6s ease-in-out;
}

.active {
	flex-grow: 10;
}

.visible {
	visibility: visible;
}

@media (max-width: 600px) {
	.container {
		flex-direction: column;
	}
	.panel {
		width: 90vw;
	}
}
